<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lifetime_sales>
            <config>
                <enable>1</enable>
                <uid>xxx</uid>
                <url>xxx</url>
                <username>xxx</username>
                <password>xxx</password>
                <logging>1</logging>
            </config>
        </sales>
    </default>
</config>