<?xml version="1.0"?>
<config>
    <sections>
        <sales>
            <groups>
                <lifetime_sales translate="label">
                    <label>Lifetime Sales Reporter</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <comment>When enabled this module will anonymously send lifetime sales stats to a specific url.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <uid translate="label">
                            <label>Unique ID</label>
                            <comment>Unique identifier assigned to this company.</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>lifetimesales/field_renderer_disabled</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </uid>
                        <url translate="label comment">
                            <label>URL</label>
                            <comment>URL which the data will be posted to.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </url>
                        <username translate="label">
                            <label>Username</label>
                            <comment>Username sent to server for authentication.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <comment>Password sent to server for authentication.</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <force translate="label">
                            <label>Push Stats to Server</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>lifetimesales/field_renderer_button</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </force>
                    </fields>
                </lifetime_sales>
            </groups>
        </sales>
    </sections>
</config>
